<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li  v-for="(toDo, index) in toDo" :style="toDo.done ? {textDecoration:'line-through' } : ``"  >
                <span @click="changeDone()">{{toDo.text}}  </span>
                <span @click="removeText(index)">X</span>
            </li>
           
        </ul>
        <input type="text" v-model="newToDo.text" @keyup.enter="addNewToDo()" placeholder="Che cosa devi fare oggi?" id="">
        <button @click="addNewToDo()">Aggiungi</button>   
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>